<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Browser types: Firefox, Chrome, IE -->
    <add key="Browser" value="Chrome"/>
    <add key="Username" value="hanich@test.test"/>
    <add key="Password" value="12345"/>
    <add key="WebSiteUrl" value="http://automationpractice.com/index.php"/>
    <add key="ScreenShotsFolder" value="..\\..\\TestResults\\ScreenShots"/>
    <add key="PageLoadTimeout" value="15"/>
    <add key="ElementLoadTimeout" value="1"/>
  </appSettings>
</configuration>